<body>
<div class="container-fluid mb-5 ">
  <div class="row" style="margin-top: 150px">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
      <form>
     <div class="text-center"><h4 >ĐĂNG NHẬP</h4></div>
      <div class="mb-3 mt-3">
        <label for="exampleInputEmail1" class="form-label">Email</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Mật khẩu</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Nhớ mật khẩu</label>
      </div>
      <button type="submit " class="btn btn-success">Đăng nhập</button>
    </form>
      <div  class="form-text text-light mt-4">Chưa có tài khoản ? Hãy
        <button type="submit" class="btn btn-success">Đăng ký</button></div>
      <div  class="form-text text-light mt-2">Quên mật khẩu?</div>
      <div class="mb-3 mt-3">
        <label for="matkhau" class="form-label">Vui lòng nhập email</label>
        <input type="email" class="form-control" id="matkhau" aria-describedby="emailHelp">
      </div>
      <button type="submit " class="btn btn-success">Lấy lại mật khẩu</button>

    </div>
    <div class="col-lg-4"></div>
  </div>

</div>

</body>

