body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
  url("https://img6.thuthuatphanmem.vn/uploads/2022/03/04/background-dien-thoai-phat-sang_011208962.jpg");
  background-size: cover;
  position: relative;
  opacity: 0.9;
  color: white;
  overflow-x: hidden;
  font-family: "Times New Roman";


}

