
<footer class="py-2 text-light mt-5"style="background: #00a107" >
  <div  class="container-fluid">

    <div class="row mt-4">
      <div class="col-lg-3">
        <div class="row"><h5>Store Iphone</h5></div>
        <div class="row"><p class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Trang chủ</a></p>
        </div>
        <div class="row"><p class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Blog</a></p>
        </div>
        <div class="row"><p class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Thông tin shop</a></p>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="row"> <h5>Thông tin liên hệ </h5></div>
        <div class="row"><p class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Facebook</a></p>
        </div>
        <div class="row"> <p class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Zalo</a></p></div>
        <div class="row"> <p class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Instagram</a></p></div>

      </div>
      <div class="col-lg-3">
        <div class="row"><h5>Địa chỉ</h5></div>
        <div class="row"> <p class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">090453454</a></p></div>
        <div class="row"><p class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">iphone@gmail.com.vn</a></p> </div>
        <div class="row">   <p class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Liên chiểu, Đà Nẵng</a></p>
        </div>

      </div>
      <div class="col-lg-3">

        <form>
          <h5>Đăng ký nhận hỗ trợ</h5>
          <div class="d-flex flex-column flex-sm-row w-100 gap-2">
            <label for="newsletter1" class="visually-hidden">Địa chỉ email</label>
            <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
            <button class="btn btn-primary" type="button">Subscribe</button>
          </div>
        </form>
      </div>
    </div>
    <div class="row mt-4" style="text-align: center" >
      <h4 >© Iphone 2022 Store, Inc. All rights reserved.</h4>
    </div>
  </div>
</footer>
