
<footer class="py-2 text-light mt-5"style="background: #00a107" >
  <div  class="container-fluid">

    <div class="row mt-4">
      <div class="col-lg-3">
        <div class="row"><h5>Store Iphone</h5></div>
        <div class="row"><p class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Home</a></p>
        </div>
        <div class="row"><p class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Features</a></p>
        </div>
        <div class="row"><p class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">About</a></p>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="row"> <h5>Information With Furama</h5></div>
        <div class="row"><p class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Facebook</a></p>
        </div>
        <div class="row"> <p class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Zalo</a></p></div>
        <div class="row"> <p class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Service</a></p></div>

      </div>
      <div class="col-lg-3">
        <div class="row"><h5>Address</h5></div>
        <div class="row"> <p class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">090453454</a></p></div>
        <div class="row"><p class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">iphone@gmail.com.vn</a></p> </div>
        <div class="row">   <p class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Facebook</a></p>
        </div>

      </div>
      <div class="col-lg-3">

        <form>
          <h5>Subscribe to our newsletter</h5>
          <p>Monthly digest of what's new and exciting from us.</p>
          <div class="d-flex flex-column flex-sm-row w-100 gap-2">
            <label for="newsletter1" class="visually-hidden">Email address</label>
            <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
            <button class="btn btn-primary" type="button">Subscribe</button>
          </div>
        </form>
      </div>
    </div>
    <div class="row mt-4" style="text-align: center" >
      <h4 >© Iphone 2022 Store, Inc. All rights reserved.</h4>
    </div>
  </div>
</footer>
