<section class="shoping-cart spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="shoping__cart__table table-responsive">
          <table>
            <thead>
            <tr>
              <th class="shoping__product">Sản phẩm</th>
              <th>Giá (VND)</th>
              <th>số lượng</th>
              <th>Đơn giá</th>
              <th>Hoạt động</th>
              <th></th>
            </tr>
            </thead>
            <tbody *ngFor="let item of cart; index as i">
            <tr>
              <td class="shoping__cart__item">
                <h5>{{item.name}}</h5>
                <img style="width: 400px" src="{{item.image}}">
              </td>
              <td class="shoping__cart__price">
                {{item.price}}
              </td>
              <td class="shoping__cart__quantity">

                                <div class="quantity">
                                  <input type="button" style="width: auto;height: auto"
                                         *ngIf="item.quantity > 1" (click)="descQuantity(item.idOrder)" value="-">
                                  <div class="pro-qty" style="width: auto;height: auto">
                                    <input type="text" value="{{item.quantity}}" readonly>
                                  </div>
                                  <input type="button" style="width: auto; height: auto;"
                                         (click)="ascQuantity(item.idOrder)" value="+">

                                </div>
              </td>
              <td class="shoping__cart__total">
                {{item.price * item.quantity | number}}
              </td>
              <td class="shoping__cart__item__close">
                <span class="icon_close"></span>
              </td>
              <td>
                <button class="btn-danger">Xóa</button>
                <!--                (click)="deleteCart(item.id)"-->
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
      </div>
      <div class="col-lg-6">

      </div>
      <div class="col-lg-6">
        <div class="shoping__checkout">

          <ul>
            <li>Tổng đơn hàng:<span>{{cartCount}}</span></li>
            <li>Tổng tiền:<span>{{finalPrice|number}}</span></li>
                        <li  *ngIf="!action">
                          <button   style="height: auto;width: 100%" class="primary-btn">
                            Thanh Toán
                          </button>
<!--                          (click)="submit(finalPrice)"-->
                        </li>
                        <li>
<!--                          <div (click)="payLaptop()" id="myPaypal" ></div>-->
                        </li>
          </ul>


        </div>
      </div>
    </div>
  </div>
</section>
