<div class="container">
  <div class="row mt-5">
    <div class="col-lg-3">  <div class="card" style="width: 15rem;height: 25rem">
      <img style="height: 300px" src="https://icdn.24h.com.vn/upload/2-2022/images/2022-06-17/Concept-iPhone-14-Pro-Max-dep-ngat-ngay-don-tim-nguoi-xem-untitled-1655438036-455-width740height555.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Iphone14</h5>
        <div class="row">
          <div class="col-lg-6">
            <a href="#" class="btn btn-primary">Giỏ hàng</a>
          </div>
          <div class="col-lg-6">
            <a href="#" class="btn btn-primary">Chi tiết</a>

          </div>
        </div>
<!--        <p class="card-text"></p>-->
<!--        <a href="#" class="btn btn-primary">Go somewhere</a>-->
      </div>
    </div></div>
    <div class="col-lg-3">  <div class="card" style="width: 15rem;height: 25rem">
      <img  style="height: 300px" src="https://media.thieunien.vn/upload/minhph/2022/03/11/loat-anh-full-hd-cua-iphone-14-lo-dien-gay-sot-vi-thiet-ke-lot-xac-ngoan-muc-1646982447-1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Iphone14</h5>
        <div class="row">
          <div class="col-lg-6">
            <a href="#" class="btn btn-primary">Giỏ hàng</a>
          </div>
          <div class="col-lg-6">
            <a href="#" class="btn btn-primary">Chi tiết</a>

          </div>
        </div>
        <!--        <p class="card-text"></p>-->
        <!--        <a href="#" class="btn btn-primary">Go somewhere</a>-->
      </div>
    </div></div>
    <div class="col-lg-3">  <div class="card" style="width: 15rem;height: 25rem">
      <img  style="height: 300px" src="https://media.thieunien.vn/upload/minhph/2022/03/11/loat-anh-full-hd-cua-iphone-14-lo-dien-gay-sot-vi-thiet-ke-lot-xac-ngoan-muc-1646982447-1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Iphone14</h5>
        <div class="row">
          <div class="col-lg-6">
            <a href="#" class="btn btn-primary">Giỏ hàng</a>
          </div>
          <div class="col-lg-6">
            <a href="#" class="btn btn-primary">Chi tiết</a>

          </div>
        </div>
        <!--        <p class="card-text"></p>-->
        <!--        <a href="#" class="btn btn-primary">Go somewhere</a>-->
      </div>
    </div></div>
    <div class="col-lg-3">  <div class="card" style="width: 15rem;height: 25rem">
      <img  style="height: 300px" src="https://media.thieunien.vn/upload/minhph/2022/03/11/loat-anh-full-hd-cua-iphone-14-lo-dien-gay-sot-vi-thiet-ke-lot-xac-ngoan-muc-1646982447-1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Iphone14</h5>
        <div class="row">
          <div class="col-lg-6">
            <a href="#" class="btn btn-primary">Giỏ hàng</a>
          </div>
          <div class="col-lg-6">
            <a href="#" class="btn btn-primary">Chi tiết</a>

          </div>
        </div>
        <!--        <p class="card-text"></p>-->
        <!--        <a href="#" class="btn btn-primary">Go somewhere</a>-->
      </div>
    </div></div>
  </div>
  <div class="row mt-5">
    <div class="col-lg-3">  <div class="card" style="width: 15rem;height: 25rem">
      <img style="height: 300px" src="https://icdn.24h.com.vn/upload/2-2022/images/2022-06-17/Concept-iPhone-14-Pro-Max-dep-ngat-ngay-don-tim-nguoi-xem-untitled-1655438036-455-width740height555.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Iphone14</h5>
        <div class="row">
          <div class="col-lg-6">
            <a href="#" class="btn btn-primary">Giỏ hàng</a>
          </div>
          <div class="col-lg-6">
            <a href="#" class="btn btn-primary">Chi tiết</a>

          </div>
        </div>
        <!--        <p class="card-text"></p>-->
        <!--        <a href="#" class="btn btn-primary">Go somewhere</a>-->
      </div>
    </div></div>
    <div class="col-lg-3">  <div class="card" style="width: 15rem;height: 25rem">
      <img  style="height: 300px" src="https://media.thieunien.vn/upload/minhph/2022/03/11/loat-anh-full-hd-cua-iphone-14-lo-dien-gay-sot-vi-thiet-ke-lot-xac-ngoan-muc-1646982447-1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Iphone14</h5>
        <div class="row">
          <div class="col-lg-6">
            <a href="#" class="btn btn-primary">Giỏ hàng</a>
          </div>
          <div class="col-lg-6">
            <a href="#" class="btn btn-primary">Chi tiết</a>

          </div>
        </div>
        <!--        <p class="card-text"></p>-->
        <!--        <a href="#" class="btn btn-primary">Go somewhere</a>-->
      </div>
    </div></div>
    <div class="col-lg-3">  <div class="card" style="width: 15rem;height: 25rem">
      <img  style="height: 300px" src="https://media.thieunien.vn/upload/minhph/2022/03/11/loat-anh-full-hd-cua-iphone-14-lo-dien-gay-sot-vi-thiet-ke-lot-xac-ngoan-muc-1646982447-1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Iphone14</h5>
        <div class="row">
          <div class="col-lg-6">
            <a href="#" class="btn btn-primary">Giỏ hàng</a>
          </div>
          <div class="col-lg-6">
            <a href="#" class="btn btn-primary">Chi tiết</a>

          </div>
        </div>
        <!--        <p class="card-text"></p>-->
        <!--        <a href="#" class="btn btn-primary">Go somewhere</a>-->
      </div>
    </div></div>
    <div class="col-lg-3">  <div class="card" style="width: 15rem;height: 25rem">
      <img  style="height: 300px" src="https://media.thieunien.vn/upload/minhph/2022/03/11/loat-anh-full-hd-cua-iphone-14-lo-dien-gay-sot-vi-thiet-ke-lot-xac-ngoan-muc-1646982447-1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Iphone14</h5>
        <div class="row">
          <div class="col-lg-6">
            <a href="#" class="btn btn-primary">Giỏ hàng</a>
          </div>
          <div class="col-lg-6">
            <a href="#" class="btn btn-primary">Chi tiết</a>

          </div>
        </div>
        <!--        <p class="card-text"></p>-->
        <!--        <a href="#" class="btn btn-primary">Go somewhere</a>-->
      </div>
    </div></div>
  </div>
</div>

