<div class="container-fluid">
  <div class="row">
  <div class="col-lg-3"></div>
  <div class="col-lg-6"><div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-6">
        <div class="card" style="width: 13rem;height: 25rem">
          <img style="height: 300px" src="https://icdn.24h.com.vn/upload/2-2022/images/2022-06-17/Concept-iPhone-14-Pro-Max-dep-ngat-ngay-don-tim-nguoi-xem-untitled-1655438036-455-width740height555.jpg" class="card-img-top" alt="...">
        </div>
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <h5 class="card-title">Iphone14</h5>
          <p class="card-text">Màu sắc: trắng xanh</p>
          <p class="card-text"><small class="text-muted">Nhà sản xuất: USA</small></p>
          <div class="row">
            <div class="col-lg-6">
              <a href="#" class="btn btn-primary">Giỏ hàng</a>
            </div>
            <div class="col-lg-6">
              <a href="#" class="btn btn-primary">Chi tiết</a>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div> </div>
    <div class="row">
      <div class="col-lg-3"></div>
      <div class="col-lg-6">
        <p>Thông số kỹ thuật</p>
      </div>
      <div class="col-lg-3"></div>

    </div>
  <div class="col-lg-3"></div>
  </div>
</div>

